Source: molly-guard
Section: admin
Priority: extra
Maintainer: martin f. krafft <madduck@debian.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/collab-maint/molly-guard.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/molly-guard.git

Package: molly-guard
Architecture: all
Depends: sysvinit | upstart, procps
Enhances: sysvinit, upstart, openssh-server
Description: protects remote machines from accidental shutdowns/reboots
 The package installs a shell script that overrides the existing
 shutdown/reboot/halt/poweroff commands. If any of the four commands are
 called interactively over an SSH session, the shell script prompts you to
 enter the name of the host you wish to shut down. This should adequately
 prevent you from accidental shutdowns and reboots.
 .
 This shell script passes through the commands to the respective binaries in
 /sbin and should thus not get in the way if called non-interactively, or
 locally.
