#!/usr/bin/make -f
# Copyright © martin f. krafft <madduck@debian.org>
# Distributable under the terms of the Artistic Licence 2.0
#
# $Id: rules 133 2006-08-20 23:34:27Z madduck $

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch $@

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_install
	dh_link

binary-arch: build install

binary-indep: DESTDIR=debian/molly-guard
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs

	install -m644 debian/molly-guard.lintian-overrides \
		$(DESTDIR)/usr/share/lintian/overrides/molly-guard
	install -m644 debian/molly-guard.linda-overrides \
		$(DESTDIR)/usr/share/linda/overrides/molly-guard

	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
